In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

calendar = pd.read_csv('calendar.csv')
reviews = pd.read_csv('reviews.csv')
listings = pd.read_csv('listings.csv')

In [8]:
calendar.shape

(1308890, 4)

In [20]:
calendar_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643037 entries, 365 to 1308879
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  643037 non-null  int64
 1   date        643037 non-null  datetime64[ns]
 2   available   643037 non-null  object
 3   price       643037 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 24.5+ MB

In [28]:
calendar_clean.head()

     listing_id       date available   price
365     3075044 2017-08-22         t  $65.00
366     3075044 2017-08-21         t  $65.00
367     3075044 2017-08-20         t  $65.00
368     3075044 2017-08-19         t  $75.00
369     3075044 2017-08-18         t  $75.00

In [7]:
calendar['price'].isna().sum()

665853

In [53]:
calendar_clean=calendar.dropna(subset=['price'])

In [54]:
calendar_clean.loc[:,'date']=pd.to_datetime(calendar_clean.loc[:,'date'])

In [55]:
calendar_clean.loc[:,'price']=calendar_clean.loc[:,'price'].replace('[\$,]', '', regex=True).astype(float)

In [56]:
calendar_clean.describe()

         listing_id          price
count  6.430370e+05  643037.000000
mean   7.699288e+06     198.438909
std    4.766178e+06     180.142913
min    3.353000e+03      11.000000
25%    3.616081e+06      85.000000
50%    7.789055e+06     150.000000
75%    1.228796e+07     255.000000
max    1.493346e+07    7163.000000

In [57]:
calendar_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643037 entries, 365 to 1308879
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  643037 non-null  int64
 1   date        643037 non-null  datetime64[ns]
 2   available   643037 non-null  object
 3   price       643037 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 24.5+ MB

In [27]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [61]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  datetime64[ns]
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 3.1+ MB

In [60]:
reviews.loc[:,'date']=pd.to_datetime(reviews.loc[:,'date'])

In [62]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [63]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB